<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>278595688709-lm8qvp4gtab5gc1s9gacod3fluf0elgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278595688709-lm8qvp4gtab5gc1s9gacod3fluf0elgh</string>
	<key>GCM_SENDER_ID</key>
	<string>278595688709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.v2solutions.FNS-Health.QA</string>
	<key>PROJECT_ID</key>
	<string>v2firebasenotificationsp-7daa4</string>
	<key>STORAGE_BUCKET</key>
	<string>v2firebasenotificationsp-7daa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:278595688709:ios:a1d07e6fd934b5b7</string>
	<key>DATABASE_URL</key>
	<string>https://v2firebasenotificationsp-7daa4.firebaseio.com</string>
</dict>
</plist>